.photo-grid {
  width: var(--content-width_l);
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(var(--grid_columns_photo), 1fr);
  grid-template-rows: auto;
  gap: var(--grid_gap_photo);
  padding-bottom: var(--section-gap);
}
