.places__title {
  width: 100%;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  margin: 0;
}

@media only screen and (max-width: 1023.9px) {
  .places__title {
    font-size: 42px;
    line-height: 1.1;
  }

  /* При ширине страницы 768 дизайнер хочет уместить заголовок Куршская коса в 2 строчки, а зимний байкал оставить в 1 строчку,
  хотя оба заголовка помещаются в 1. Не придумал ничего лучше такого костыля.
  Уменьшение зоны контента, который исчезает при маленькой ширине. классом оформлять не стал */

  .places__title#title_short {
    max-width: 230px;
  }
}

@media only screen and (max-width: 767.9px) {
  .places__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
