.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}

@media screen and (max-width: 767.9px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    max-width: 288px;
  }
}
