.header__languages {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-top: 14px;
  /* обнуляю поля по умолчанию */
  margin: 0;
}

@media screen and (max-width: 767.9px) {
  .header__languages {
    padding-top: 10px;
  }
}
