.root {
  /* Больше этой ширины - растягивается только бэкграунт */
  width: 100%;
  min-width: 320px;

  /* Центруем контент*/
  margin: 0 auto;

  /* Типографика */
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  /* Визуальные стили */
  background-color: var(--color_bg);
  color: var(--color_text);
}
