.footer__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  margin: 0 18px 0 0;
}

.footer__item:last-child {
 margin: 0;
}


@media only screen and (max-width: 767.9px) {
  .footer__item {
    font-size: 24px;
    line-height: 1;
    margin: 0 0 32px 0;
    }
}
