.places__url-heading {
  color: var(--color_url-mark);
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  padding-bottom: 12px;
  text-transform: uppercase;
  margin: 0;
}
